#header{display:none;} /* 将默认的导航头屏蔽掉，这样才能把自己的导航栏加上去 */

/* 定制自己导航栏的样式 */
#shwtop ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /*去除li前的标注*/
    background-color: #888;
    overflow: hidden; /*隐藏溢出的部分，保持一行*/
}
#shwtop li {
    float: left; /*左浮动*/
}
#shwtop li a, .dropbtn {
    display: inline-block; /*设置成块*/
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
/*鼠标移上去，改变背景颜色*/
#shwtop li a:hover, .dropdown:hover .dropbtn {
    /* 当然颜色你可以自己改成自己喜欢的，我还是挺喜欢蓝色的 */
    background-color: #ccc;
}
#shwtop .dropdown {
    /*
    display:inline-block将对象呈递为内联对象，
    但是对象的内容作为块对象呈递。
    旁边的内联对象会被呈递在同一行内，允许空格。
    */
    display: inline-block;
}
#shwtop .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#shwtop .dropdown-content a {
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration:none;
}
#shwtop .dropdown-content a:hover {
    background-color: #a1a1a1;
}
#shwtop .dropdown:hover .dropdown-content{
    display: block;
}

/* 定制生成博客目录的CSS样式 */
#uprightsideBar{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    position:fixed;
    /*
    将div的位置固定到距离top:150px，right:0px的位置，
    这样div就会处在最右边的位置，距离顶部150px，
    当然这两个值你可以自己改。
    */
    top:150px;
    right:0px;
    width: auto;
    height: auto;
}
#sideBarTab{
    float:left;
    width:25px;
    box-shadow: 0 0 8px #877788;
    border:1px solid #ccc;
    border-right:none;
    text-align:center;
    background:#f5efe2;
}
#sideBarContents{
    float:left;
    overflow:auto;
    overflow-x:hidden;!important;
    width:200px;
    min-height:101px;
    max-height:460px;
    border:1px solid #e5e5e5;
    border-right:none;
    background:#ffffff;
}
#sideBarContents dl{
    margin:0;
    padding:0;
}
#sideBarContents dt{
    margin-top:5px;
    margin-left:5px;
}
#sideBarContents dd, dt {
    cursor: pointer;
}
#sideBarContents dd:hover, dt:hover {
    color:#A7995A;
}
#sideBarContents dd{
    margin-left:20px;
}

/* 定制推荐和反对按键 */
#div_digg{
    position:fixed;
    bottom:-10px;
    width:112px;
    right:-27px;
    box-shadow: 0 0 2px #ccc;
    border:1px solid #ccc;
    padding:4px;
    background-color: rgb(244, 237, 227);
    border-radius:4px 4px 4px 4px !important;
}

.icon_favorite {
    background: transparent url('http://images.cnblogs.com/cnblogs_com/shwee/1218109/o_kj.gif') no-repeat 0 0;
    padding-left: 15px;
}

#blog_post_info_block a {
    text-decoration: none;
    color: #5B9DCA;
    padding: 3px;
}

/* 定制公告栏文字信息 */
.gonggao{
    text-align: center;
    font-size:14px;
    color:#888;
}
.wenzi{
    text-align: center;
    font-size:15px;
}

/* 定制公告栏时钟位置 */
#clockdiv {
    /* left, center, right */
    text-align: center;
}

/* 定制左侧随笔分类上下项之间的间距，左侧随笔分类显示有多少项，你就在后面增加多少项 */
#CatList_LinkList_0_Link_0{
}
#CatList_LinkList_0_Link_1{
    margin-top:10px;
}
#CatList_LinkList_0_Link_2{
    margin-top:10px;
}
#CatList_LinkList_0_Link_3{
    margin-top:10px;
}
#CatList_LinkList_0_Link_4{
    margin-top:10px;
}
#CatList_LinkList_0_Link_5{
    margin-top:10px;
}
#CatList_LinkList_0_Link_6{
    margin-top:10px;
}
#CatList_LinkList_0_Link_7{
    margin-top:10px;
}
#CatList_LinkList_0_Link_8{
    margin-top:10px;
}
#CatList_LinkList_0_Link_9{
    margin-top:10px;
}
#CatList_LinkList_0_Link_10{
    margin-top:10px;
}
#CatList_LinkList_0_Link_11{
    margin-top:10px;
}
#CatList_LinkList_0_Link_12{
    margin-top:10px;
}
#CatList_LinkList_0_Link_13{
    margin-top:10px;
}
#CatList_LinkList_0_Link_14{
    margin-top:10px;
}

/* 定制博客背景图片，url里面是你的图片位置信息 */
body {
    background-color: #efefef;
    background-image:url(http://images.cnblogs.com/cnblogs_com/shwee/1218109/o_bg_shw.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    padding-top:0px;
}

/* 设置签名格式 定制css样式 */
#MySignature {
    display: none;
    background-color: #B2E866;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #6B6B6B;
    padding: 10px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #FFF;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
}

/* 定制公告栏音乐插件的样式 */
.aplayer {
  font-family: Arial,Helvetica,sans-serif;  /*音乐插件字体*/
  margin: 0px;  /*音乐插件与公告栏左边的边距，0px就是直接抵到公告栏左边的边上*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
}

/*播放器主背景颜色*/
.aplayer .aplayer-list ol {
  background-color: rgb(244, 237, 227);
}

.aplayer .aplayer-info {
  background-color: rgb(244, 237, 227);
}
.aplayer {
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.07), 0 3px 7px 0 rgba(0,0,0,.1);
}



/*改变日历样式*/
.CalTitle {
  background-color: rgb(244, 237, 227);
}

.Cal {
  background-color: rgb(244, 237, 227);
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 1px 2px #ccc;
}


/*  下面都是自己加的样式 */
/* 修改 阅读原文 颜色*/
.postbody a {
    color: #ab9a70;
}
/* 修改 博文题目 颜色*/
a {
  color: #ab9a70;
  text-decoration: none;
}

/*修改经过博文题目时的颜色*/
a:hover {
  color: #ab9a10;
  text-decoration: none;
}

/* 隐藏园龄等信息*/
#profile_block {
    margin-left: 10px;
    display: none;
    color: red;
}

/*定义博客签名的背景色*/
#MySignature {
    background-color: #ebf1ea;
}

/*改变内容区的背景颜色*/
#content {
  background-color: rgb(244, 237, 227);
}

/*改变右边侧边栏背景颜色*/
#leftmenu {
  background-color: rgb(244, 237, 227);
}

/*改变日期的背景色*/
#content p.date a {
  color: #999;
  background-color: #f3e6e6;
}

/*改变日期的大小*/
#content p.date {
  font-size: 0.2em;
}

/*改变右侧 hover 背景颜色值*/
#leftmenu a:hover {
  background-color: rgb(230, 213, 189);
}

/*改变最新随笔列表间距*/
#leftmenu li {
  display: block;
  margin-bottom: 5px;
}

/*隐藏页面底部的个人信息*/
#author_profile {
  display: none;
}

/*改变 input 输入框背景色*/
.input_my_zzk {
  background-color: #f5e7c7;
}

/*改变文本评论框的颜色*/
#tbCommentBody {
  background-color: rgb(251, 246, 235);
}